.technologies {
    padding-top: 200px;
    display: flex;

    &.-reversed {
        flex-direction: row-reverse;
    }

    &__text {
        margin-top: 40px;
        margin-right: 140px;

        &.-right {
            margin-right: 0;
            margin-left: 140px;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: 0.085em;
        margin-bottom: 31px;
    }

    &__description {
        font-weight: 400;
        font-size: 18px;
        line-height: 176.4%;
        letter-spacing: 0.085em;
    }
}

.technologies-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;

    &__item {
        width: 160px;
        height: 160px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
