.date-picker {
    $root: &;

    &__wrapper {
        position: relative;
    }

    &__calendar-wrapper {
        position: absolute;
        top: calc(100% + 8px);
        background: #ffffff;
        box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1),
            0px 8px 8px -4px rgba(16, 24, 40, 0.04);
        border-radius: 8px;
        display: none;
        padding: 12px 16px;

        &.-active {
            display: flex;
        }

        &.-basic {
            #{$root}__interval-wrapper {
                display: none;
            }

            #{$root}__inputs-wrapper {
                display: none;
            }

            #{$root}__calendar {
                &:nth-last-of-type(1) {
                    display: none;
                }
            }

            #{$root}__bottom-wrapper {
                justify-content: center;
                border: 0;

                &::after {
                    display: none;
                }

                &::before {
                    display: none;
                }
            }

            #{$root}__calendar {
                border-left: 0;
                border-right: 0;
            }

            #{$root}__buttons-wrapper {
                width: 100%;
            }

            #{$root}__button {
                max-width: 134px;
                width: 100%;
            }

            #{$root}__basic-mode-intervals {
                display: flex;
            }

            #{$root}__basic-mode-inputs {
                display: flex;
                align-items: center;
            }
        }
    }

    &__calendar {
        border: 1px solid $gray-200;
        border-top: 0;
        padding: 20px 24px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:nth-last-of-type(1) {
            border-left: 0;
            border-right: 0;
        }
    }

    &__days-wrapper {
        width: 280px;
        display: flex;
        flex-wrap: wrap;
    }

    &__day {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-bottom: 4px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $gray-700;
        border-radius: 20px;
        position: relative;

        &:hover {
            color: $primary-700;
            background: $primary-50;
        }

        &.-prev {
            color: $gray-500;
            cursor: initial;

            &:hover {
                color: $gray-500;
                background: transparent;
            }
        }

        &.-current {
            background: $gray-100;
            font-weight: 500;
        }

        &.-picked {
            background: $primary-600;
            color: #ffffff;
        }

        &.-picked-between {
            color: $gray-500 !important;
            background: $primary-50 !important;
            border-radius: 0;
        }

        &.-start-day-picked {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 50%;
                height: 100%;
                background: $primary-50;
            }
        }

        &.-end-day-picked {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                height: 100%;
                background: $primary-50;
            }
        }

        &.-pseudo-element {
            position: absolute;
            left: 0;
            top: 0;
        }

        &:nth-of-type(7n) {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;

            &::before {
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            }

            &.-end-day-picked {
                &::before {
                    border-radius: 0;
                }
            }
        }

        &:nth-of-type(7n + 1) {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;

            &::before {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }

            &.-start-day-picked {
                &::before {
                    border-radius: 0;
                }
            }
        }
    }

    &__date {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 22px;
    }

    &__day-name {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $gray-700;
    }

    &__change-month-btn {
        background: transparent;
        border: 0;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    &__active-date {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    &__interval-wrapper {
        display: flex;
        flex-direction: column;
        width: 160px;
        padding-right: 16px;
    }

    &__interval-btn {
        padding: 10px 16px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $gray-700;
        margin-bottom: 4px;
        cursor: pointer;

        &.-active {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $primary-700;
            background: $primary-50;
            border-radius: 6px;
        }
    }

    &__date-pickers-wrapper {
        display: flex;
    }

    &__right-column {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    &__bottom-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding-top: 16px;
        padding-inline: 24px;
        border-left: 1px solid $gray-200;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: -1;
            bottom: -12px;
            width: 1px;
            height: 12px;
            background: $gray-200;
        }

        &::before {
            content: "";
            position: absolute;
            right: -16px;
            top: -1px;
            width: 16px;
            height: 1px;
            background: $gray-200;
        }
    }

    &__input {
        padding: 8px 14px;
        gap: 8px;
        width: 128px;
        height: 40px;
        background: #ffffff;
        border: 1px solid $gray-300;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 8px;

        &:focus {
            outline: none;
        }
    }

    &__divider {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $gray-500;
        margin-inline: 12px;
    }

    &__button {
        padding: 10px 16px;
        gap: 8px;
        width: 104px;
        height: 40px;
        background: #ffffff;
        border: 1px solid $gray-300;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 8px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $gray-700;
        cursor: pointer;

        &.-blue {
            background: $primary-600;
            border: 1px solid $primary-600;
            color: white;
            margin-left: 12px;
        }
    }

    &__hidden-input {
        display: none;
    }

    &__basic-mode-intervals {
        display: none;
        width: 100%;
        justify-content: space-between;
    }

    &__basic-mode-interval-btn {
        background-color: transparent;
        border: 0;
        border-radius: 6px;
        color: $primary-700;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;

        &.-active {
            background-color: $primary-50;
        }
    }

    &__basic-mode-inputs {
        display: none;
        margin-bottom: 16px;
    }
}
