.section {
    display: flex;
    padding-top: 140px;
    max-width: 1436px;
    margin-inline: 36px;
}

.button {
    padding: 14px 62px;
    border: 1px solid #ffffff;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.085em;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    background: transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &.-margin-top {
        margin-top: 48px;
    }

    &.-right {
        float: right;
    }
}
